// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #A9F5F2;
$primary-invert: findColorInvert($primary);
$youtube: #F78181;
$youtube-invert:findColorInvert($youtube);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$instagram: #BF00FF;
$instagram-invert: findColorInvert($instagram);
$soundcloud: #FE9A2E;
$soundcloud-invert: findColorInvert($soundcloud);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "youtube": ($youtube, $youtube-invert),
    "twitter": ($twitter, $twitter-invert),
    "instagram": ($instagram, $instagram-invert),
    "soundcloud": ($soundcloud, $soundcloud-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";